<!DOCTYPE html>
<html>
<head>
<title>Mini Blog</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Mini Blog</h1>

<a href="/" style="text-decoration : none; ">Home</a>
<a href="/add" style="text-decoration : none; ">Add Post</a>
<a href="{{ url_for('main.user_profile', username=current_user.username) }}" style="text-decoration : none; ">
Profile
</a>

{% if current_user.is_authenticated %}
    <a class="nav-link" href="{{ url_for('main.logout') }}" style="text-decoration : none; ">Logout</a>
{% else %}
    <a class="nav-link" href="{{ url_for('main.login') }}"  style="text-decoration : none; ">Login</a>
{% endif %}


<form action="{{ url_for('main.search') }}" method="GET">

    <input type="text" name="query" placeholder="Search post...">

    <button type="submit">Search</button>

</form>
<hr>

{% block content %}{% endblock %}

</body>
</html>