<!DOCTYPE html>
<html>
<head>
<title>Mini Blog</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Mini Blog</h1>

<a href="/" style="text-decoration : none; ">Home</a>
<a href="/add" style="text-decoration : none; ">Add Post</a>

<form action="{{ url_for('main.search') }}" method="GET">

    <input type="text" name="query" placeholder="Search post...">

    <button type="submit">Search</button>

</form>
<hr>

{% block content %}{% endblock %}

</body>
</html>