{% extends "base.html" %}

{% block content %}

{% for post in posts %}

<div class="post-card">

    <!-- POST HEADER -->
    
    <div class="post-header">
        <a href="{{ url_for('main.user_profile',username=post.author.username) }}" class="user-link">
            <img 
            src="{{ url_for('static', filename='images/profile_picture/' + post.author.profile_pic) }}"
            class="profile-img">

            
            <div class="username">{{ post.author.username }}</div> 
        </a>

    
        {% if post.user_id == current_user.id %}
    
            <div class="menu-container">

                <i class="fa fa-ellipsis-v menu-icon"></i>

                <div class="menu-dropdown">

                    {% if post.author == current_user %}
                    <a href="{{ url_for('main.edit_post', id=post.id) }}">
                        <i class="fa fa-edit"></i> Edit
                    </a>

                    <a href="{{ url_for('main.delete_post', id=post.id) }}">
                        <i class="fa fa-trash"></i> Delete
                    </a>
                    {% endif %}

                </div>

            </div>
        {% endif %}
        {% if post.user_id != current_user.id %}
            <div class="follow-btn"> 
                <button type="submit">follow</button>
            </div>
        {% endif %}

    </div>
    
    <div class="post-body" id="post-{{ post.id }}">
        
        <!-- POST IMAGE -->
        {% if post.image %}
            <img 
            src="{{ url_for('static', filename='images/post_images/' + post.image) }}" 
            class="post-image">
        {% endif %}

        <!-- POST CONTENT -->
        <div class="post-content">
            {{ post.content }}
            <div style="font-size:12px; color:grey; margin-top:5px; margin-left:6%;">
                {{ post.created_at | time_ago}}
            </div>
        </div>

        <!-- LIKE SECTION -->
        <div class="post-actions">
            <a href="{{ url_for('main.like_post', post_id=post.id) }}">
            ❤️ {{ post.likes|length }} 
            </a>

            <!-- COMMENTS -->

                <div class="comment-box">
                    {% if post.user_id == current_user.id %}
                        <a href="{{ url_for('main.comments', post_id=post.id) }}">
                            💭
                        </a>
                    {% else %}
                        <a href="{{ url_for('main.comment', post_id=post.id,user_id=post.user_id) }}">
                        💭 
                    </a>
                    {% endif %}
                </div>

            </div>
        </div>
        

    </div>
</div>    

{% endfor %}


<div>

{% if posts.has_prev %}
<a href="{{ url_for('main.home', page=posts.prev_num) }}">Previous</a>
{% endif %}

Page {{ posts.page }} of {{ posts.pages }}

{% if posts.has_next %}
<a href="{{ url_for('main.home', page=posts.next_num) }}">Next</a>
{% endif %}

</div>


{% endblock %}