{% extends "base.html" %}

{% block content %}

{% for post in posts %}

<div class="post-card">

    <!-- POST HEADER -->
    <div class="post-header">

        <img 
        src="{{ url_for('static', filename='images/profile_picture/' + post.author.profile_pic) }}"
        class="profile-img">

        <div>
            <div class="username">{{ post.author.username }}</div>
        </div>

    </div>

    <div class="post-body">
        <!-- POST TITLE -->
        <div class="post-title">

            <h3>{{ post.title }}</h3>

            {% if post.user_id == current_user.id %}
    
                <div class="menu-container">

                    <i class="fa fa-ellipsis-v menu-icon"></i>

                    <div class="menu-dropdown">

                        {% if post.author == current_user %}
                        <a href="{{ url_for('main.edit_post', id=post.id) }}">
                            <i class="fa fa-edit"></i> Edit
                        </a>

                        <a href="{{ url_for('main.delete_post', id=post.id) }}">
                            <i class="fa fa-trash"></i> Delete
                        </a>
                        {% endif %}

                    </div>

                </div>
            {% endif %}    

        </div>

        <!-- POST CONTENT -->
        <div class="post-content">
            {{ post.content }}
        </div>

        <!-- POST IMAGE -->
        {% if post.image %}
            <img 
            src="{{ url_for('static', filename='images/post_images/' + post.image) }}" 
            class="post-image">
        {% endif %}

        <!-- LIKE SECTION -->
        <div class="post-actions">

            ❤️ {{ post.likes|length }}

            <a href="{{ url_for('main.like_post', post_id=post.id) }}">
                Like / Unlike
            </a>

        </div>
        <br>
        <!-- COMMENTS -->
        <div class="comment-box">

            <b>Comments</b>

            {% for comment in post.comments %}

                <div class="comment">

                    <div class="comment-left">

                        <b>
                        {% if comment.user_id == current_user.id %}
                            You:
                        {% else %}
                            {{ comment.author.username }}:
                        {% endif %}
                        </b>

                        {{ comment.text }}

                    </div>


                    {% if comment.author == current_user %}
                    <div class="menu-container">

                        <i class="fa fa-ellipsis-v menu-icon"></i>

                        <div class="menu-dropdown">

                            <a href="{{ url_for('main.edit_comment', id=comment.id) }}">
                                <i class="fa fa-edit"></i> Edit
                            </a>

                            <a href="{{ url_for('main.delete_comment', id=comment.id) }}">
                                <i class="fa fa-trash"></i> Delete
                            </a>

                        </div>

                    </div>
                    {% endif %}

                </div>

            {% endfor %}

            <!-- COMMENT FORM -->

            <form action="{{ url_for('main.add_comment', post_id=post.id) }}" method="POST">

                <input type="text" name="comment" placeholder="Write comment..." required>

                <button type="submit">Comment</button>

            </form>

        </div>

    </div>
</div>    

{% endfor %}


<!-- PAGINATION 

<div>

{% if posts.has_prev %}
<a href="{{ url_for('main.home', page=posts.prev_num) }}">Previous</a>
{% endif %}

Page {{ posts.page }} of {{ posts.pages }}

{% if posts.has_next %}
<a href="{{ url_for('main.home', page=posts.next_num) }}">Next</a>
{% endif %}

</div>-->


{% endblock %}