<!-- its search only on post  
<h2>Search Results for "{{ query }}"</h2>

{% if posts %}

    {% for post in posts %}

        <h3>{{ post.title }}</h3>
        <p>{{ post.content }}</p>
        <hr>

    {% endfor %}

{% else %}

<p>No posts found</p>

{% endif %} -->

<!--its search on comment also 

<h2>Search Results</h2>

{% if posts %}

    {% for post in posts %}

        <h3>{{ post.title }}</h3>
        <p>{{ post.content }}</p>

        <h4>Comments</h4>

        {% if post.comments %}

            {% for comment in post.comments %}

                <p>
                    <b>{{ comment.author.username }}</b> :
                    {{ comment.text }}
                </p>

            {% endfor %}

        {% else %}

            <p>No comments</p>

        {% endif %}

        <hr>

    {% endfor %}

{% else %}

<p>No posts found</p>

{% endif %} -->

<!-- it show match content but, it not show when post and comment both have match content  -->

<!--

<h2>Search Results</h2>

{% if posts %}

    <h3>Matched Posts</h3>

    {% for post in posts %}
        <p><b>{{ post.title }}</b> : {{ post.content }}</p>
        <hr>
    {% endfor %}

{% elif comments %}

    <h3>Matched Comments</h3>

    {% for comment in comments %}
        <p>
            <b>{{ comment.author.username }}</b> :
            {{ comment.text }}
        </p>
        <small>Post : {{ comment.post.title }}</small>
        <hr>
    {% endfor %}

{% else %}

    <p>No results found</p>

{% endif %}
-->

{% extends "base.html" %}

{% block content %}

<h2>Search Results</h2>

{% if posts %}
    <h3>Matched Posts</h3>
    {% for post in posts %}
        <p><b>{{ post.title }}</b> : {{ post.content }}</p>
        <hr>
    {% endfor %}
{% endif %}

{% if comments %}
    <h3>Matched Comments</h3>
    {% for comment in comments %}
        <p>
            <b>{{ comment.author.username }}</b> :
            {{ comment.text }}
        </p>
        <small>Post : {{ comment.post.title }}</small>
        <hr>
    {% endfor %}
{% endif %}

{% if not posts and not comments %}
    <p>No results found</p>
{% endif %}
 
{% endblock %}
